#product-page {
   background-color: #fffde9;
   padding-bottom: 3vh;
}

#product-item, .category-item, .search-items {
   display: grid;
   justify-content: center;
   grid-template-columns: repeat(3, 1fr);
   align-items: center;
   column-gap: 2vw;
   row-gap: 5vw;
   margin-left: 2vw;
   margin-right: 2vw;
   margin-top: 2vh;
}

#img-container:hover {
   border: 1px solid rgb(179, 173, 173);
   /* border-radius: 8px; */
   /* padding: 5px; */
   box-shadow: 5px 3px 5px #b5b2b2;
}
 
#product-header {
   font-size: 2.2vw;
   font-weight: bold;
   /* text-transform: uppercase; */
   text-align: center;
   margin-left: 2vw;
   margin-right: 2vw;
   padding-top: 6vh;
   margin-bottom: 10vh;
   letter-spacing: 0.015em;
}