#show-page {
    background-color: #fffde9;
    width: 100vw;
    height: 90vh;
}
#show-component {
    display: flex;
    flex-direction: row;
    margin-left: 10vw;
    margin-right: 10vw;
    padding-top: 4.5vh;
    margin-bottom: 5vh;
}

#show-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px;
    margin-left: 10vw;
}

#show-picture img {
    height: 70vh;
    width: 40vw;
    /* border-bottom: solid 3px; */
    border-radius: 20px;
    
}

#show-name {
    font-size: 1.7vw;
    font-family: poppinsReg;
    font-weight: bold;
}

#show-description {
    font-family: poppinsNav;
    font-size: 1vw;
    line-height: 3.5vh;
    margin-top: 4%;
}

#show-price {
    font-size: 1.4vw; 
    margin-top: 7%;
    margin-bottom: 7%;;
}

.show-quantity {
    display: flex;
    justify-content: center;
    font-size: 1.5vw;
    border: 1px solid rgb(226, 221, 221);
    align-items: center;
    margin-top: 0.5vh;
    width: 10vw;
    padding: 1vh;
}

.show-quantity > button {
    background-color: transparent;
    color: black;
    text-align: center;
    padding: 1vh;
    height: 4vh;
}

button {
    cursor: pointer;
}

.show-quantity input {
    width: 3vw;
    border: none;
    font-size: 1vw;
    text-align: center;
}

#show-label {
    font-family: 'T-Star Regular';
    font-size: 0.8vw;
    text-transform: uppercase;
    padding-left: 0.25vw;
}

#show-add-button {
    display: block;
    border: 1px solid black;
    font-size: 1.0vw;
    margin-top: 5vh;
    padding: .9vw;
    text-transform: uppercase;
    width: 85%;
}

.desc-show {
    font-weight: bold;
    margin-top: 5vh;
    font-size: 2.5vh;
}