.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-name a {
    text-decoration: none;
    color: black;
    font-size: 2.4vh;
    font-weight: bold;
    font-family: "Cosmica-Semibold" !important;
}
.product-name {
    color: black;
}

.bottom {
    display: flex;
    flex-direction: column;  
    padding: 10%
}
.product-price {
    text-align: center;
    padding: 10%;
}

.product-img {
    width: 25vw;
    align-items: center;
}

#image-container {
    width: 100%;
    align-items: center;
}
