.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-name a {
    text-decoration: none;
    color: black;
    font-size: 1.8vh;
    /* font-weight: bold; */
}
.product-name {
    color: black;
    font-weight: bold;
}

.bottom {
    display: flex;
    flex-direction: column;  
    padding: 5%;
    letter-spacing: .045em;
}
.product-price {
    text-align: center;
    padding: 10%;
}

.product-img {
    width: 28vw;
    height: 50vh;
    align-items: center;
    margin-top: 2vh;
}

#image-container {
    align-items: center;
    border-radius: 20px
}
