#search-on-click{
    height: 5vh;
}

.bg-modal-sb {
    z-index: 4;
    position: fixed;
    top: 15vh;
    right: 0;
    left: 0;
    height: 100vh;
    background-color: rgba(159, 155, 155, 0.5);
}

.overflow {
    overflow: hidden;
}

.search-bar-page {
    overflow: hidden;
}

.search-bar-dropdown {
    position: fixed;
    top: 13.8vh;
    z-index: 5;
    right: 0;
    left: 0;
    bottom: 0;
    height: 8.5vh;
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: #fffde9;
}

.search-page {
    height: 10vh;
}

.search-bar-dropdown {
    display: flex;
    justify-content: space-between;
}

.search-page form {
    display: flex;
    align-items: center;
}

.search-wait input {
    outline: none;
    border: none;
    font-size: 30px;
}

.search-bar-dropdown {
    background-color: #fffde9;
}

.search-bar-dropdown input {
    border: none;
    height: 5vh;
    background-color: #fffde9;

}

.search-bar-dropdown input:focus {
    outline: none;
    background-color: #fffde9;

}
.search-text {
    margin-left: 2vw;
    display: flex;
    align-items: center;
    background-color: #fffde9;
}

.search-text input {
    font-size: 2vh;
    background-color: #fffde9;
}

.search-bar-button {
	cursor: pointer;
    margin-right: 1vw;
}

.close-bar{
    font-size: 2.5vh;
    color: rgb(86, 84, 84);
    font-family: poppinsNav;
    padding-right: 1vw;
}

#no-products-icon {
    display: flex;
    width: 100vw;
    height: 80vh;
    justify-content:center;
    align-items: center;
}

.no-products {
    font-size: 3vh;
    font-weight: bold;
}

#fa-cry {
    margin-left: .8vw;
    transform: scale(1.3);
}