 #splash-section { 
    background-color: #fffde9;
    color: black;
    display: flex;
    flex-direction: row;
    width:100vw;
    height: 100vh;
}

#splash-text {
    display: flex;
    width: 50%;
    font-size: 16px;
    line-height: 1.5;
    flex-direction: column;
    margin-bottom: 10vh;
    margin-left: 20vw;
    align-items: flex-start;
    justify-content: center;
} 
#splash-text Link {
    color: black;
}
.splash-link {
    display: flex;
    justify-content: flex-start;
    font-family: poppinsReg;
}

.first-text {
    width: 20vw; 
    font-size: 4vh;
    font-family: poppinsReg;
    line-height: 46px !important;
    font-weight: bold;
}
.second-text {
    width: 20vw; 
    font-family: poppinsReg;
    line-height: 28px !important;
    margin-top: 16px;
    font-size: 2.2vh;
    margin-bottom: 1.2vh;
}
.splash-image img {
    width: 50vw;
    height: 80vh;
    top: 0;
    left: 0;
}
/* h3 {
    font-family: "Cosmica-Semibold" !important;
    line-height: 46px !important;
    font-size: 40px !important;
    display: block; */
    /* font-size: 1.17em; */
    /* margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
} */
/* h4 {
    font-family: "Cosmica-Regular" !important;
    line-height: 28px !important;
    display: block;
    /* font-size: 1.5em; */
    /* margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px; */
    /* font-weight: bold; */
/* //}  */

/* img {
    position: absolute;
    vertical-align: top;
    opacity: 1;
    transform: translateX(0);
} */ 