 #splash-section { 
    background-color: #fffde9;
    color: black;
    display: flex;
    flex-direction: row;
    width:100vw;
    height: 90vh;
    border-bottom: 1px solid rgb(232, 227, 227);
}

#splash-text {
    display: flex;
    width: 50%;
    font-size: 16px;
    line-height: 1.5;
    flex-direction: column;
    margin-bottom: 10vh;
    margin-left: 20vw;
    align-items: flex-start;
    justify-content: center;
} 
#splash-text Link {
    color: black;
}
.splash-link {
    display: flex;
    justify-content: flex-start;
    font-family: poppinsReg;
}

.first-text {
    width: 20vw; 
    font-size: 4vh;
    font-family: poppinsReg;
    line-height: 46px !important;
    font-weight: bold;
}
.second-text {
    width: 20vw; 
    font-family: poppinsReg;
    line-height: 28px !important;
    margin-top: 16px;
    font-size: 2.2vh;
    margin-bottom: 1.2vh;
}
.splash-image img{
    width: 45vw;
    height: 85vh;
    top: 0;
    left: 0;
}
/* text carausel*/

.content-slider {
  width: 100%;
  height: 360px;
  background-color: #fffde9;
  border-bottom: 1px solid rgb(232, 227, 227);
  font-family: 'Droid Serif', serif;
}

.slider {
  height: 320px;
  width: 680px;
  padding-left: 30vw;
  overflow: visible;
  position: relative;
  padding-top: 40px;
}

.mask {
  overflow: hidden;
  height: 320px;
}

.slider ul {
  margin: 0;
  padding: 0;
  position: relative;
}

.slider li {
  width: 680px;
  height: 320px;
  position: absolute;
  top: -325px;
  list-style: none;
}

.slider .quote {
  font-size: 38px;
  font-style: italic;
  width: 30vw;
  margin-left: 110px;
  margin-top: 30px;
}

.slider .source {
  font-size: 20px;
  text-align: center;
}
.source img {
    width: 10vw;
    height: 7vh;
    margin-top: 5vw;
    margin-right: 50px;
}

.slider li.anim1 {
  animation: cycle 15s linear infinite;
}

.slider li.anim2 {
  animation: cycle2 15s linear infinite;
}

.slider li.anim3 {
  animation: cycle3 15s linear infinite;
}

.slider li.anim4 {
  animation: cycle4 15s linear infinite;
}

.slider li.anim5 {
  animation: cycle5 15s linear infinite;
}

.slider:hover li {
  animation-play-state: paused;
}

@keyframes cycle {
  0% {
    top: 0px;
  }
  4% {
    top: 0px;
  }
  16% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  20% {
    top: 325px;
    opacity: 0;
    z-index: 0;
  }
  21% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
  50% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
  92% {
    top: -325px;
    opacity: 0;
    z-index: 0;
  }
  96% {
    top: -325px;
    opacity: 0;
  }
  100% {
    top: 0px;
    opacity: 1;
  }
}

@keyframes cycle2 {
  0% {
    top: -325px;
    opacity: 0;
  }
  16% {
    top: -325px;
    opacity: 0;
  }
  20% {
    top: 0px;
    opacity: 1;
  }
  24% {
    top: 0px;
    opacity: 1;
  }
  36% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  40% {
    top: 325px;
    opacity: 0;
    z-index: 0;
  }
  41% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
  100% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
}

@keyframes cycle3 {
  0% {
    top: -325px;
    opacity: 0;
  }
  36% {
    top: -325px;
    opacity: 0;
  }
  40% {
    top: 0px;
    opacity: 1;
  }
  44% {
    top: 0px;
    opacity: 1;
  }
  56% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  60% {
    top: 325px;
    opacity: 0;
    z-index: 0;
  }
  61% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
  100% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
}

@keyframes cycle4 {
  0% {
    top: -325px;
    opacity: 0;
  }
  56% {
    top: -325px;
    opacity: 0;
  }
  60% {
    top: 0px;
    opacity: 1;
  }
  64% {
    top: 0px;
    opacity: 1;
  }
  76% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  80% {
    top: 325px;
    opacity: 0;
    z-index: 0;
  }
  81% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
  100% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
}

@keyframes cycle5 {
  0% {
    top: -325px;
    opacity: 0;
  }
  76% {
    top: -325px;
    opacity: 0;
  }
  80% {
    top: 0px;
    opacity: 1;
  }
  84% {
    top: 0px;
    opacity: 1;
  }
  96% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  100% {
    top: 325px;
    opacity: 0;
    z-index: 0;
  }
}
/*about products*/

/* .wholeProduts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
} */
.home-products {
  display: flex;
  background-color: #fffde9;
  padding-left: 3vw;
  padding-right: 3vw;
  padding-bottom: 5vw;
  padding-top: 5vw;
  border-bottom: 1px solid rgb(232, 227, 227);
  /* height: 70vh; */
}
.right img {
  object-fit: cover;
  width: 99%;
  display: flex;
  height: 100%;
}

.text-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2vw;
  padding-right: 10vw;
  padding-left: 10vw;
  font-family: poppinsTitle;
}
.text-desc h1 {
  font-size: 2.5vw;
  letter-spacing: 0.02em;
  padding-bottom: 4vh;
}
.text-desc p{
  font-size: 1.35vw;
  font-family: "T-Star Regular";
  line-height: 3.25vh;
  letter-spacing: 0.02em;
  margin-bottom: 3vh;;
}
.text-desc button {
  padding: 1.5vh;
  width: 35%;
  font-size: 15px;
}

/* infinit autoplay*/

body {
	align-items: center;
	background: #E3E3E3;
	display: flex;
	height: 100vh;
	justify-content: center;
}

@mixin white-gradient {
	background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
}

$animationSpeed: 40s;

/* Animation */
@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-250px * 7))}
}


/* Styling*/
.slider {
	background: white;
	box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
	height: 100px;
	margin: auto;
	overflow:hidden;
	position: relative;
	width: 960px;
	
	&::before,
	&::after {
		@include white-gradient;
		content: "";
		height: 100px;
		position: absolute;
		width: 200px;
		z-index: 2;
	}
	
	&::after {
		right: 0;
		top: 0;
		transform: rotateZ(180deg);
	}

	&::before {
		left: 0;
		top: 0;
	}
	
	.slide-track {
		animation: scroll $animationSpeed linear infinite;
		display: flex;
		width: calc(250px * 14);
	}
	
	.slide {
		height: 100px;
		width: 250px;
	}
}
