 #splash-section { 
    background-color: #fffde9;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 5vh;
    width: 80vw;
    width: 100%;
    margin: auto;
}

#splash-text {
    display: table-cell;
    width: 50%;
    vertical-align: middle;
    font-family: "Cosmica-Regular" !important;
    font-size: 16px !important;
    line-height: 1.5 !important;
    /* display: flex; */
    /* align-items: center; */
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;
    align-items: flex-end;

} 
.first-text {
    display: flex;
    /* align-items: flex-end; */
    width: 10vw;
    /* text:  */
}
.second-text {
    display: flex;
    width: 10vw; 
}
.splash-image img {
    /* position: absolute; */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    
    /* object-fit: contain; */
}
/* h3 {
    font-family: "Cosmica-Semibold" !important;
    line-height: 46px !important;
    font-size: 40px !important;
    display: block; */
    /* font-size: 1.17em; */
    /* margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
} */
/* h4 {
    font-family: "Cosmica-Regular" !important;
    line-height: 28px !important;
    display: block;
    /* font-size: 1.5em; */
    /* margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px; */
    /* font-weight: bold; */
/* //}  */

/* img {
    position: absolute;
    vertical-align: top;
    opacity: 1;
    transform: translateX(0);
} */ 