.navbar-wrapper {
    background-color: white;
    width: 100vw;
    overflow: hidden;
}

.navbar-content {
    padding-top: .5vh;
    padding-bottom: .5vh;
    color: black;
    font-size: 1.5vw;
    text-align: center;
    margin-left: 2vw;
    letter-spacing: 0.015em;
    white-space: nowrap;
    will-change: transform;
    animation-name: shipping-product;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-font-smoothing: antialiased;
    /* font-weight: bold; */
    /* background-color: white; */
    color: black;
}
@keyframes shipping-product {
    0% {transform: translate(0%);}
    100% {transform: translate(-100%);}
}

