.footer-icons {
    background-color: rgb(192, 229, 192);
    display: block;
    padding-top: 2.5vh;
    padding-bottom: 2.5vh;
    /* margin-top: 5vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 5vw; */
}
.footer-icons  a {
    font-size: 5vh;
    margin-left: 1vw;
    margin-right: 1vw;

}
#linkdin-icon {
    padding: 1vh;
    margin-right: 1vh;
}
#github-icon {
    padding: 1vh;
    margin-left: 1vh;
}
.footer-icons a:hover {
    padding: 5px;
    box-shadow: 2px 2px 10px 3px grey;
    border-radius: 10px;
  }