.overall-box {
    width: 100vw;
    background-color: #fffde9;
    padding-bottom: 6vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.review-overall-container{
    display: flex;
    /* background-color: #d8a067; */
    background-color: rgb(105, 194, 105);
    width: 80%;
}

.review-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10px 30px;
}

.bg-modal{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.review-modal {
    z-index: 5;
    position: fixed;
    top: 25vh;
    right: 0;
    left: 25vw;
    bottom: 0;
    width: 45vw;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 2px 2px 10px pink;
    padding: 3vw;
    background-color: white;
    font-family: poppinsNav;
}

.reviews-info{
    font-size: 1.5vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 30px;
    border-bottom: 1px solid rgb(106, 103, 103);
    font-family: 'T-Star';
}

.review-firstname{
    font-size: 1.4vw;
    margin-right: 2vh;
    border-bottom: solid black 1px;
}

.review-date {
    font-size: 1.4vw;
}

.review-name-date-buttons{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.review-name-date {
    display: flex;
    justify-content: space-between;
}

.review-rating {
    margin-bottom: 1vh;
}

.review-title {
    font-weight: bold;
    font-size: 1.4vw;
    margin-bottom: 2vh;;
}

.review-body {
    margin-bottom: 2vh;
    font-size: 1.2vw;
}

.delete-button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    margin-left: 5vw;
    border-bottom: solid black 1px;
}

.delete-button:hover {
    border-bottom: none
}

.update-button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    margin-left: 2vw;
    border-bottom: solid black 1px;
}

.update-button:hover {
    border-bottom: none
}

.modal-form {
    width: 100%;
    display: flex;
    height: 100%;
    padding: 40px;
    flex-direction: column;
    justify-content: space-between;
}

input[type="radio"] {
    display: none;
}

.star {
    cursor: pointer;
    transition: color 200ms;
}

.star-header {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.body-form {
    border-radius: 10px;
    font-family: sans-serif;
    font-size: 16px;
    width: 100%;
    margin-top: 0.6vh;
}

.rating-form {
    margin-top: 1vh;
}

.title-form {
    border-radius: 5px;
    box-shadow: 0 1px 4px 0 rgb(34 34 34 / 10%) inset;
    font-family: sans-serif;
    width: 100%;
    height: 3vh;
    margin-top: 0.6vh;
}

.title-review {
    margin-left: 2vw;
}

.modal-headers {
    /* height: 100%; */
    font-weight: bold;
    font-size: 17px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.modal-button{
    border: 1px solid black;
    width: 15vw;
    padding: 1.2vh;
    border-radius: 20px;
    background-color: white;
    color: black;
}

#submit-review-button {
    display: flex;
    justify-content: center; 
    align-items: center;
}

.whrite-reviews {
    padding: 20px 10px 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    border-bottom: 1px solid rgb(106, 103, 103);
    width: 100%; 
}

.review-header {
    font-size: 1.8vw;
}

.review-header span {
    color: rgb(2, 2, 2);
}

.errors {
    display: flex;
    flex-direction: column;
    color: #ab5b0e;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 1vh;
    list-style: none;
    font-weight: bold;
}

.had-review-button{
    border: none;
    background-color: black;
    font-size: 16px;
    /* font-weight: bolder; */
    border-radius: 3px;
    color: white;
    padding: 10px 12px 7px;
}

.had-review-box .had-review-button-hover{
    visibility: hidden;
    position: absolute;
    z-index: 1;
}

.had-review-box:hover .had-review-button-hover {
        visibility: visible;
        max-width: 180px;
        background-color: #fffde9;
        margin-top: 8px;
        border-radius: 4px;
        padding: 8px 10px 8px;
        text-align: center;
        margin-left: -80px;
        box-shadow: 5px 5px 8px -3px #bbbbbb;
}

.had-review-button:hover{
    background-color: rgb(61, 61, 61);
}

.review-header-button {
    border: none;
    background-color: black;
    font-size: 16px;
    /* font-weight: bolder; */
    border-radius: 3px;
    padding: 10px 12px 7px;
}

.review-header-button:hover{
    background-color: rgb(61, 61, 61);
}

.review-header-button a {
    color: white;
    text-decoration: none;
}

.edit-delete {
    font-size: 2.2vh;
}

/* I'm Algerian girl and I'm quadrilingual and i would love to grow with a company where I can continue to learn and take an additional responsibilities. */