
.login-backg {
    background-color: #fffde9
}
.loginForm {
    display:flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: normal;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    padding-top: 15vh;
    width: 30vw;
    height: 100vh;
    // background-color: #fffde9;
    input, .login-button {
        width: stretch;
        margin-bottom: 2vh;
        padding: 13px 15px;
    }
}
.create-account {
    margin-bottom: 1.5vh;
}
.login-logout-header {
    font-family: "Cosmica-Regular";
    font-size: 3vh;
    line-height: 1.5;
    // padding: 1.5vh;
    margin-bottom: 1.5vh;
}

#textHeader {
    margin-bottom: 24px;
    text-align: center;
}

.demoUserButton {
    width: 30%;
    padding: 1vh;
}
input[type=text]:focus {
    border: 1px solid rgb(17, 16, 16);
}
input[type=password]:focus {
    border: 1px solid rgb(17, 16, 16);
    outline: none;
}
input[type=text] {
    border: 1px solid rgb(199, 187, 187);
    outline: none;
}
input[type=password] {
    border: 1px solid rgb(199, 187, 187);
    outline: none;
}
textarea:focus {
    border: 1px solid rgb(17, 16, 16);
}
textarea {
    border: 1px solid rgb(199, 187, 187);
}
button {
    background-color: rgb(9, 8, 8);
    color: white;
    border: none;
    font-size: 17px;
}
#bottomForm {
    display: flex;
    align-items: center;
    flex-direction: column;
}
#bottomForm span {
    cursor: pointer;
    text-decoration: underline;
}
#bottomForm a {
    color: black;
    text-decoration: underline;
}


