* {
    text-decoration: none;
    background-color: #fffde9;
}

.links-icons{
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px;
    
}
.categories  {
    display: flex;
    justify-content: center;
    width: 15vw;
    /* margin-left: 15%; */
    color: black;
}
.left {
    margin-left: 10%;
}
.categories div{
    padding: 10%;
}
.categories a {
    color: black;
}
.middle{
    font-size: 3vw;
    display: flex;
    align-items: center;
}
.middle a {
    color: black;
 }
.right {
    display: flex;
    width: 15vw;
    justify-content: flex-end;
    align-items: center;
    margin-right: 10%;
}
.right i {
    padding: 10px;
}
